<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy-<%= taxonomy.id %>"><%= taxonomy.name %>
              <i class="fa fa-plus"></i>
            </a>
            <ul id="taxonomy-<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.root.children.each do |taxon| %>
                <li>
                  <% if taxon.leaf? %>
                    <%= link_to potepan_category_path(taxon.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %>
                      <span>(<%= taxon.products.count %>)</span>
                    <% end %>
                  <% else %>
                    <a href="javascript:;" data-toggle="collapse" data-target="#taxon-<%= taxon.id %>"><%= taxon.name %>
                      <i class="fa fa-plus"></i>
                      <span>(<%= taxon.related_products.count %>)</span>
                    </a>
                    <ul id="taxon-<%= taxon.id %>" class="collapse collapseItem">
                      <% taxon.leaves.each do |leaf| %>
                        <li>
                          <%= link_to potepan_category_path(leaf.id) do %>
                            <i class="fa fa-caret-right" aria-hidden="true"></i><%= leaf.name %>
                            <span>(<%= leaf.products.count %>)</span>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
