<% provide(:title, @taxon.name) %>

<%= render partial: 'layouts/light_section_top', locals: { name: @taxon.name } %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: 'potepan/categories/sidebar/sidebar_categories', locals: { taxonomies: @taxonomies } %>
        <%= render partial: 'potepan/categories/sidebar/sidebar_price' %>
        <%= render partial: 'potepan/categories/sidebar/sidebar_color' %>
        <%= render partial: 'potepan/categories/sidebar/sidebar_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render partial: 'potepan/categories/filter_area/sort' %>
          <%= render partial: 'potepan/categories/filter_area/grid_or_list' %>
        </div>
        <div class="row">
          <%= render partial: 'potepan/categories/product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'potepan/categories/light_section_foot' %>
