<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/head" %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= render "layouts/copy_right" %>
    </div>
    <%= render "layouts/login_modal" %>
    <%= render "layouts/sign_up_modal" %>
    <%= render "layouts/product_quick_view_modal" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
